.Phonetic{
    margin-bottom: 20px;
}
.Phonetic a{
    border: 1px solid rgb(187, 134, 72);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
}
.Phonetic a:hover{
    background: #F0DFC2;
    color: #fff;
}

.Phonetic .text{
    opacity: 0.5;
    font-weight: bold;
}